*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --sb-track-color: #262626;
    --sb-thumb-color: #6BAF8D;
    --sb-size: 17px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 12px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
        var(--sb-track-color);
    }
}
a{
    text-decoration: none;
}

.inner {
    width: 1692px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


header {
    width: 100%;
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    height: 130px;
    font-family: E-UkraineHead;
    font-size: 26px;
    align-content: center;
}
header a{
    color: #FFFFFF;
}
header .menu{
    display: inline-flex;
    align-items: center;
    gap: 116px;
}
header .inner {
    justify-content: space-between;
}
.registrheader{
    color: #FFFFFF;
    background-color: transparent;
    font-family: E-Ukraine;
    font-size: 24px;
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    border: 2px solid #FFF;
    gap:14px;
    transition: 0.3s;
}
.registrheader:hover{
    background-color: #ffffff;
    color: black;
}
.registrheader:active{
    background-color: whitesmoke;
    color: black;
}
@font-face {
   font-family: "E-Ukraine";
    src: url("fonts/e-Ukraine-Regular.otf") format('truetype');
    font-weight:normal;
}
@font-face {
   font-family: "E-UkraineThin";
    src: url("fonts/e-Ukraine-Thin.otf") format('truetype');
    font-weight:normal;
}
@font-face {
    font-family: "E-UkraineHead";
    src: url("fonts/e-UkraineHead-Regular.otf") format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "E-UkraineHeadMedium";
    src: url("fonts/e-UkraineHead-Medium.otf") format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "E-UkraineHeadBold";
    src: url("fonts/e-UkraineHead-Bold.otf") format('truetype');
    font-weight: normal;
}
.hero{
    height: 1080px;
    overflow: hidden;
    position: relative;
}


#videoback {
    min-height: 100%;
    min-width: 100%;
}


.videobackground::before {
    height: 1080px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0,0,0,0.4);
}
.scroll-downs {
    position: absolute;
    top: 987px;
    right: 0;
    bottom: 38px;
    left: 0;
    margin: auto;
    z-index: 4;
    width :34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 200px;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.born{
    height: 808px;
    background: #262626;
    display: flex;
    align-items: center;
}
.born .inner{
    position: relative;
}
.born .inner .images {
    display: flex;
    align-items: start;
    gap: 55px;
}
.born .inner > span{
    position: absolute;
    bottom: 17px;
    right: 0px;
    color: #FFF;
    font-size: 96px;
    font-family: "e-UkraineHead";
}
.about{
    background-image: url("images/background.svg");
    background-size: cover;
    display: flex;
    align-items: center;
    height: 1080px;
}
.about .inner {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}
.about .inner > span > p {
    display: flex;
    gap: 40px;
}

.H2 {
    color: #1B1B1B;
    font-size: 96px;
    font-family: "e-UkraineHead";
}

#simpletext{
    width: 1335px;
    line-height: 230%;
    color: #1B1B1B;
    font-size: 24px;
    font-family: "e-Ukraine";

}
#simpletextitalic{
    width: 1110px;
    line-height: 210%;
    color: #1B1B1B;
    font-size: 20px;
    font-family: E-UkraineThin;
}

.gallery-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    height: 808px; /* Заданная высота блока */
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    min-width: 100%;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    height: 100%; /* Адаптация фотографий под высоту блока */
    object-fit: cover; /* Сохранение пропорций фотографий */
}

.telegram{
    background-image: url("images/TelegramBackground.svg");
    background-size: auto;
    display: flex;
    align-items: center;
    height: 1024px;
    position: relative;
}
.telegram .inner{
    padding-top: 60px;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 354px;
}
.registrmainbutton{
    color: #000;
    font-family: e-Ukraine;
    font-size: 24px;
    display: flex;
    padding: 24px 36px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 200px;
    border: 2px solid #000;
    background-color: transparent;
    transition: 0.3s;
}
.registrmainbutton:hover{
    background-color: black;
    color: #ffffff;
}
.registrmainbutton:active{
    background-color: darkslategrey;
    border: 2px solid darkslategrey;
    color: #ffffff;
}
.duck1{
    position: absolute;
    top:280px;
    left: 1080px;
    width: 110px;
    height: 110px;
    transform: rotate(-150deg);
    background: url("images/duck.gif");
    background-size: cover;
}
.duck2{
    position: absolute;
    bottom: 202px;
    left: 596px;
    width: 110px;
    height: 110px;
    transform: rotate(16deg);
    background: url("images/duck.gif");
    background-size: cover;
}
.duck3{
    position: absolute;
    top: 712px;
    right: 690px;
    width: 58px;
    height: 58px;
    transform: rotate(-16deg);
    background: url("images/duck.gif");
    background-size: cover;
}

footer{
    font-family: e-Ukraine;
    font-size: 18px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 33px;
    color: #4F4F4F;
}

.aboutobeservatory{
    margin-top: 150px;
    padding-top: 50px;
    background-image: url("images/backgroundobservatory.svg");
    background-size: cover;
    display: flex;
    height: 100%;
}
.aboutobeservatory .inner {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}
.aboutobeservatory .inner > span > p {
    display: flex;
    gap: 40px;
}
#simpletextobservatory{
    width: 1600px;
    line-height: 230%;
    color: #1B1B1B;
    font-size: 24px;
    font-family: "e-Ukraine";

}
#simpletextitalic{
    width: 1110px;
    line-height: 210%;
    color: #1B1B1B;
    font-size: 20px;
    font-family: E-UkraineThin;
}

.H3 {
    padding-top: 40px;
    color: #1B1B1B;
    font-size: 48px;
    font-family: E-UkraineHeadMedium;
}
